body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    display: grid;
    height: 100vh;
}

h1 {
    color: #2196f3;
}

a {
    color: #2196f3;
}

div {
    background-color: white;
    width: fit-content;
    margin: auto;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: -2px 2px 10px;
}

img {
    max-width: 100%;
}